doctype html
head
  title Onpoint
#slider
  #slide-1.slider__slide 1
  #slide-2.slider__slide 2
  #slide-3.slider__slide 3 
  #slide-4.slider__slide 4
  //- img(src='images/bottle.png' alt='bottle' width='130px')